// variables
$color-rojo: rgb(251, 72, 72);
$color-rojo-traslucido: rgb(251, 72, 72,.1);
$color-negro: #111;
$color-blanco: #fff;
$fuente-titulos: 'Nunito', sans-serif;
$fuente-parrafos: 'Roboto', sans-serif;